In [1]:
import pandas as pd
import ipdb

In [2]:
##loading in 15 years of data (same seasons as i used for the premier league data)
#season09=pd.read_csv('data/championship09.csv')
#season10=pd.read_csv('data/championship10.csv')
#season11=pd.read_csv('data/championship11.csv')
#season12=pd.read_csv('data/championship12.csv')
#season13=pd.read_csv('data/championship13.csv')
#season14=pd.read_csv('data/championship14.csv')
#season15=pd.read_csv('data/championship15.csv')
#season16=pd.read_csv('data/championship16.csv')
#season17=pd.read_csv('data/championship17.csv')
#season18=pd.read_csv('data/championship18.csv')
#season19=pd.read_csv('data/championship19.csv')
#season20=pd.read_csv('data/championship20.csv')
#season21=pd.read_csv('data/championship21.csv')
#season22=pd.read_csv('data/championship22.csv')
#season23=pd.read_csv('data/championship23.csv')

In [3]:
#loading in 15 years of data (same seasons as i used for the premier league data)
championship09=pd.read_csv('data/championship09.csv')
championship10=pd.read_csv('data/championship10.csv')
championship11=pd.read_csv('data/championship11.csv')
championship12=pd.read_csv('data/championship12.csv')
championship13=pd.read_csv('data/championship13.csv')
championship14=pd.read_csv('data/championship14.csv')
championship15=pd.read_csv('data/championship15.csv')
championship16=pd.read_csv('data/championship16.csv')
championship17=pd.read_csv('data/championship17.csv')
championship18=pd.read_csv('data/championship18.csv')
championship19=pd.read_csv('data/championship19.csv')
championship20=pd.read_csv('data/championship20.csv')
championship21=pd.read_csv('data/championship21.csv')
championship22=pd.read_csv('data/championship22.csv')
championship23=pd.read_csv('data/championship23.csv')

In [4]:
championship_data = {
    'season09': championship09,
    'season10': championship10,
    'season11': championship11,
    'season12': championship12,
    'season13': championship13,
    'season14': championship14,
    'season15': championship15,
    'season16': championship16,
    'season17': championship17,
    'season18': championship18,
    'season19': championship19,
    'season20': championship20,
    'season21': championship21,
    'season22': championship22,
    'season23': championship23
}

In [5]:
for season_name, season in championship_data.items():
    print(f"{season_name} is length {len(season)}")

season09 is length 552
season10 is length 552
season11 is length 552
season12 is length 552
season13 is length 552
season14 is length 552
season15 is length 552
season16 is length 552
season17 is length 552
season18 is length 552
season19 is length 552
season20 is length 552
season21 is length 552
season22 is length 552
season23 is length 552

In [6]:
23*24

552

In [7]:
matchStats=['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR']

In [8]:
for season_name, season in championship_data.items():
    missing_stats = set(matchStats) - set(season.columns)
    
    if not missing_stats:
        print(f"All match stat columns are in {season_name}")
    else:
        print(f"{len(missing_stats)} match stat columns are missing in {season_name}: {missing_stats}")

All match stat columns are in season09
All match stat columns are in season10
All match stat columns are in season11
1 match stat columns are missing in season12: {'Referee'}
All match stat columns are in season13
All match stat columns are in season14
All match stat columns are in season15
All match stat columns are in season16
All match stat columns are in season17
All match stat columns are in season18
All match stat columns are in season19
All match stat columns are in season20
All match stat columns are in season21
All match stat columns are in season22
All match stat columns are in season23

Referee wont be used, so its not a problem.

In [9]:
matchStats.remove('Referee')

In [10]:
matchStats

['Date',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HTR',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR']

In [11]:
bet365Columns=['B365H','B365D','B365A']

In [12]:
for season_name, season in championship_data.items():
    missing_stats = set(bet365Columns) - set(season.columns)
    
    if not missing_stats:
        print(f"All bet365 odds columns are in {season_name}")
    else:
        print(f"{len(missing_stats)} bet365 odds columns are missing in {season_name}: {missing_stats}")

All bet365 odds columns are in season09
All bet365 odds columns are in season10
All bet365 odds columns are in season11
All bet365 odds columns are in season12
All bet365 odds columns are in season13
All bet365 odds columns are in season14
All bet365 odds columns are in season15
All bet365 odds columns are in season16
All bet365 odds columns are in season17
All bet365 odds columns are in season18
All bet365 odds columns are in season19
All bet365 odds columns are in season20
All bet365 odds columns are in season21
All bet365 odds columns are in season22
All bet365 odds columns are in season23

In [13]:
oldBookieSystem=['BbMxH','BbAvH','BbMxD','BbAvD','BbMxA','BbAvA']
newBookieSystem=['MaxH','AvgH','MaxD','AvgD','MaxA','AvgA']

In [14]:
for season_name, season in championship_data.items():
    if set(oldBookieSystem).issubset(season.columns):
        print(f"All old betting odds columns are in {season_name}")
    elif set(newBookieSystem).issubset(season.columns):
        print(f"All new betting odds columns in {season_name}")
    else:
        print(f"Not all betting odds columns in {season_name}")

All old betting odds columns are in season09
All old betting odds columns are in season10
All old betting odds columns are in season11
All old betting odds columns are in season12
All old betting odds columns are in season13
All old betting odds columns are in season14
All old betting odds columns are in season15
All old betting odds columns are in season16
All old betting odds columns are in season17
All old betting odds columns are in season18
All new betting odds columns in season19
All new betting odds columns in season20
All new betting odds columns in season21
All new betting odds columns in season22
All new betting odds columns in season23

Since 2019/2020 season the data containing the overall market odds changed

from: ['BbMxH','BbAvH','BbMxD','BbAvD','BbMxA','BbAvA']

to: ['MaxH','AvgH','MaxD','AvgA','MaxA','AvgA']

In [15]:
## Mapping bookie systems to seasons
#bookie_systems = {
#    'season09': oldBookieSystem,
#    'season10': oldBookieSystem,
#    'season11': oldBookieSystem,
#    'season12': oldBookieSystem,
#    'season13': oldBookieSystem,
#    'season14': oldBookieSystem,
#    'season15': oldBookieSystem,
#    'season16': oldBookieSystem,
#    'season17': oldBookieSystem,
#    'season18': oldBookieSystem,
#    'season19': newBookieSystem,
#    'season20': newBookieSystem,
#    'season21': newBookieSystem,
#    'season22': newBookieSystem,
#    'season23': newBookieSystem
#}

In [16]:
#season09.loc[:, matchStats + bet365Columns + oldBookieSystem] = season09.loc[:, matchStats + bet365Columns + oldBookieSystem]

In [17]:
#season09=season09.loc[:,matchStats+bet365Columns+oldBookieSystem]
#season10=season10.loc[:,matchStats+bet365Columns+oldBookieSystem]
#season11=season11.loc[:,matchStats+bet365Columns+oldBookieSystem]
#season12=season12.loc[:,matchStats+bet365Columns+oldBookieSystem]
#season13=season13.loc[:,matchStats+bet365Columns+oldBookieSystem]
#season14=season14.loc[:,matchStats+bet365Columns+oldBookieSystem]
#season15=season15.loc[:,matchStats+bet365Columns+oldBookieSystem]
#season16=season16.loc[:,matchStats+bet365Columns+oldBookieSystem]
#season17=season17.loc[:,matchStats+bet365Columns+oldBookieSystem]
#season18=season18.loc[:,matchStats+bet365Columns+oldBookieSystem]
#season19=season19.loc[:,matchStats+bet365Columns+newBookieSystem]
#season20=season20.loc[:,matchStats+bet365Columns+newBookieSystem]
#season21=season21.loc[:,matchStats+bet365Columns+newBookieSystem]
#season22=season22.loc[:,matchStats+bet365Columns+newBookieSystem]
#season23=season23.loc[:,matchStats+bet365Columns+newBookieSystem]

In [18]:
season09 = championship09.loc[:, matchStats + bet365Columns + oldBookieSystem]
season10 = championship10.loc[:, matchStats + bet365Columns + oldBookieSystem]
season11 = championship11.loc[:, matchStats + bet365Columns + oldBookieSystem]
season12 = championship12.loc[:, matchStats + bet365Columns + oldBookieSystem]
season13 = championship13.loc[:, matchStats + bet365Columns + oldBookieSystem]
season14 = championship14.loc[:, matchStats + bet365Columns + oldBookieSystem]
season15 = championship15.loc[:, matchStats + bet365Columns + oldBookieSystem]
season16 = championship16.loc[:, matchStats + bet365Columns + oldBookieSystem]
season17 = championship17.loc[:, matchStats + bet365Columns + oldBookieSystem]
season18 = championship18.loc[:, matchStats + bet365Columns + oldBookieSystem]
season19 = championship19.loc[:, matchStats + bet365Columns + newBookieSystem]
season20 = championship20.loc[:, matchStats + bet365Columns + newBookieSystem]
season21 = championship21.loc[:, matchStats + bet365Columns + newBookieSystem]
season22 = championship22.loc[:, matchStats + bet365Columns + newBookieSystem]
season23 = championship23.loc[:, matchStats + bet365Columns + newBookieSystem]

In [19]:
seasons_data = {
    'season09': season09,
    'season10': season10,
    'season11': season11,
    'season12': season12,
    'season13': season13,
    'season14': season14,
    'season15': season15,
    'season16': season16,
    'season17': season17,
    'season18': season18,
    'season19': season19,
    'season20': season20,
    'season21': season21,
    'season22': season22,
    'season23': season23
}

In [20]:
for season_name, season in seasons_data.items():
    #ipdb.set_trace()
    date_format=season['Date'].apply(lambda x: len(x)).unique()
    if len(date_format)==1:
        if date_format[0]==8:
            season['Date']=pd.to_datetime(season['Date'], format='%d/%m/%y')
            #print(f"successfully updated {season_name}'s date column from '%d/%m/%y'")
            
        elif date_format[0]==10:
            season['Date']=pd.to_datetime(season['Date'], format='%d/%m/%Y')
            #print(f"successfully updated {season_name}'s date column from '%d/%m/%Y'")
        else:
            print(f"unexpected date format, check {season_name}")
    else:
         print(f"more than 1 date format, check {season_name}")

In [21]:
season09['Date']

0     2009-08-07
1     2009-08-08
2     2009-08-08
3     2009-08-08
4     2009-08-08
         ...
547   2010-05-02
548   2010-05-02
549   2010-05-02
550   2010-05-02
551   2010-05-02
Name: Date, Length: 552, dtype: datetime64[ns]

In [22]:
season23

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AR,B365H,B365D,B365A,MaxH,AvgH,MaxD,AvgD,MaxA,AvgA
0,2023-08-04,Sheffield Weds,Southampton,1,2,A,0,1,A,8,...,0,3.10,3.4,2.30,3.31,3.14,3.47,3.38,2.35,2.28
1,2023-08-05,Blackburn,West Brom,2,1,H,2,0,H,12,...,0,2.75,3.3,2.60,2.92,2.78,3.30,3.21,2.72,2.62
2,2023-08-05,Bristol City,Preston,1,1,D,0,0,D,5,...,0,2.05,3.5,3.60,2.15,2.08,3.50,3.39,3.72,3.63
3,2023-08-05,Middlesbrough,Millwall,0,1,A,0,0,D,16,...,0,1.91,3.3,4.33,2.05,1.95,3.60,3.47,4.33,3.97
4,2023-08-05,Norwich,Hull,2,1,H,1,1,D,28,...,0,1.75,3.5,5.00,1.82,1.77,3.75,3.65,5.00,4.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,2024-05-04,Rotherham,Cardiff,5,2,H,2,1,H,16,...,0,3.40,3.4,2.20,3.50,3.40,3.45,3.35,2.23,2.16
548,2024-05-04,Stoke,Bristol City,4,0,H,3,0,H,20,...,0,2.05,3.4,3.75,2.10,2.05,3.70,3.52,3.75,3.51
549,2024-05-04,Sunderland,Sheffield Weds,0,2,A,0,2,A,18,...,0,2.70,3.4,2.55,2.87,2.73,3.40,3.25,2.80,2.62
550,2024-05-04,Swansea,Millwall,0,1,A,0,0,D,9,...,1,2.05,3.5,3.60,2.07,2.04,3.61,3.50,3.76,3.57
551,2024-05-04,West Brom,Preston,3,0,H,1,0,H,16,...,0,1.45,4.2,8.00,1.49,1.45,4.60,4.32,8.00,7.28

In [23]:

for season_name, season in seasons_data.items():
    season.rename(columns={'BbMxH':'MaxH',
                           'BbAvH':'AvgH',
                           'BbMxD':'MaxD',
                           'BbAvD':'AvgD',
                           'BbMxA':'MaxA',
                           'BbAvA':'AvgA'
                          }, inplace=True)

In [24]:
season09

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AR,B365H,B365D,B365A,MaxH,AvgH,MaxD,AvgD,MaxA,AvgA
0,2009-08-07,Middlesbrough,Sheffield United,0,0,D,0,0,D,7,...,0,2.25,3.25,3.20,2.43,2.23,3.40,3.21,3.50,3.13
1,2009-08-08,Cardiff,Scunthorpe,4,0,H,3,0,H,15,...,0,1.67,3.60,5.25,1.73,1.66,3.81,3.48,5.61,5.08
2,2009-08-08,Crystal Palace,Plymouth,1,1,D,0,1,A,16,...,0,1.91,3.30,4.20,1.97,1.88,3.46,3.29,4.48,3.99
3,2009-08-08,Derby,Peterboro,2,1,H,1,0,H,12,...,0,2.00,3.30,3.80,2.10,1.97,3.42,3.27,4.00,3.67
4,2009-08-08,Leicester,Swansea,2,1,H,0,1,A,15,...,0,2.25,3.25,3.20,2.30,2.21,3.31,3.22,3.53,3.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,2010-05-02,Reading,Preston,4,1,H,2,0,H,18,...,0,1.62,3.75,5.50,1.73,1.67,3.90,3.54,6.00,5.00
548,2010-05-02,Scunthorpe,Nott'm Forest,2,2,D,0,2,A,16,...,0,2.80,3.40,2.40,2.90,2.74,3.44,3.28,2.55,2.43
549,2010-05-02,Sheffield Weds,Crystal Palace,2,2,D,1,1,D,13,...,0,2.25,3.40,3.10,2.31,2.24,3.40,3.27,3.41,3.04
550,2010-05-02,Swansea,Doncaster,0,0,D,0,0,D,9,...,0,1.53,3.75,7.00,1.57,1.51,4.13,3.77,7.21,6.43
551,2010-05-02,West Brom,Barnsley,1,1,D,0,0,D,17,...,0,1.40,4.50,7.50,1.44,1.38,4.89,4.30,9.80,7.94

In [25]:
def process_season_data(season_df, season_name):
    # One-hot encode the result field
    ftr_encoded = pd.get_dummies(season_df['FTR'], prefix='', prefix_sep='')
    
    # Adding the new one-hot encoded columns to the dataframe
    season_df = pd.concat([season_df, ftr_encoded], axis=1)
    
    season_df.rename(columns={'H': 'HomeWin', 'D': 'Draw', 'A': 'AwayWin'}, inplace=True)
    
    # Keeping most data except for away team, referee, half-time result, and away cards received by the opposite team.
    homeMatches = season_df[['Date', 'HomeTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
                             'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'HR', 'HomeWin', 'Draw', 'AwayWin']]
    
    homeMatches = homeMatches.copy()
    
    homeMatches.rename(columns={'HomeTeam': 'team',
                                'HomeWin': 'win',
                                'Draw': 'draw',
                                'AwayWin': 'loss',
                                'FTHG': 'goals',
                                'FTAG': 'conceded',
                                'FTR': 'result',
                                'HTHG': 'half_goals',
                                'HTAG': 'half_conceded',
                                'HS': 'shots',
                                'AS': 'shots_against',
                                'HST': 'shots_target',
                                'AST': 'shots_against_target',
                                'HF': 'fouls',
                                'AF': 'fouls_other_team',
                                'HC': 'corners',
                                'AC': 'corners_conceded',
                                'HY': 'yellows',
                                'HR': 'reds'}, inplace=True)

    awayMatches = season_df[['Date', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
                             'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'AY', 'AR', 'HomeWin', 'Draw', 'AwayWin']]

    awayMatches = awayMatches.copy()

    # Same as above but with all the away stats swapped with the home stats
    awayMatches.rename(columns={'AwayTeam': 'team',
                                'AwayWin': 'win',
                                'Draw': 'draw',
                                'HomeWin': 'loss',
                                'FTAG': 'goals',
                                'FTHG': 'conceded',
                                'FTR': 'result',
                                'HTAG': 'half_goals',
                                'HTHG': 'half_conceded',
                                'AS': 'shots',
                                'HS': 'shots_against',
                                'AST': 'shots_target',
                                'HST': 'shots_against_target',
                                'AF': 'fouls',
                                'HF': 'fouls_other_team',
                                'AC': 'corners',
                                'HC': 'corners_conceded',
                                'AY': 'yellows',
                                'AR': 'reds'}, inplace=True)

    awayMatches.reset_index(drop=True)

    # Combine home and away matches
    allMatches = pd.concat([homeMatches, awayMatches], axis=0).sort_values(by=['Date', 'team']).reset_index(drop=True)

    # Add match number and days since previous match
    allMatches['matchNumber'] = allMatches.groupby('team')['Date'].transform('cumcount') + 1
    allMatches['daysSince'] = allMatches.groupby('team')['Date'].transform(lambda x: x - x.shift(1))

    # Define the columns to calculate running totals for
    stats = ['win', 'draw', 'loss', 'goals', 'conceded', 'half_goals', 'half_conceded',
             'shots', 'shots_against', 'shots_target', 'shots_against_target', 'corners',
             'corners_conceded', 'fouls', 'fouls_other_team', 'yellows', 'reds']

    # Loop through the stats and calculate the running totals
    for stat in stats:
        allMatches[f'total.{stat}'] = allMatches.groupby('team')[stat].transform(
            lambda x: x.shift(1).cumsum() / x.shift(1).expanding().count().replace(0, pd.NA)
        )

    # Loop through the stats and calculate the last 3 game averages
    for stat in stats:
        allMatches[f'last3.{stat}'] = allMatches.groupby('team')[stat].transform(
            lambda x: x.shift(1).rolling(window=3, min_periods=1).mean()
        )

    # Drop the original stats columns
    allMatches.drop(columns=['goals', 'conceded', 'result', 'half_goals', 'half_conceded',
                             'shots', 'shots_against', 'shots_target', 'shots_against_target',
                             'fouls', 'fouls_other_team', 'corners', 'corners_conceded', 'yellows',
                             'reds', 'win', 'draw', 'loss'], inplace=True)

    # Merge home and away match data into season DataFrame
    season_df = season_df[['Date', 'HomeTeam', 'AwayTeam', 'FTR', 'AwayWin', 'Draw', 'HomeWin']]

    season_df = season_df.merge(
        allMatches.add_prefix('home.'), how='left', left_on=['Date', 'HomeTeam'], right_on=['home.Date', 'home.team'])

    season_df.drop(columns=['home.Date', 'home.team'], inplace=True)

    season_df = season_df.merge(
        allMatches.add_prefix('away.'), how='left', left_on=['Date', 'AwayTeam'], right_on=['away.Date', 'away.team'])

    season_df.drop(columns=['away.Date', 'away.team'], inplace=True)

    # Home v away performance by team (when home or away respectively)
    season_df['home.total.win.whenHome'] = season_df.groupby('HomeTeam')['HomeWin'].transform(
        lambda x: x.shift(1).cumsum() / x.shift(1).expanding().count().replace(0, pd.NA)
    )

    season_df['home.total.draw.whenHome'] = season_df.groupby('HomeTeam')['Draw'].transform(
        lambda x: x.shift(1).cumsum() / x.shift(1).expanding().count().replace(0, pd.NA)
    )

    season_df['home.total.loss.whenHome'] = season_df.groupby('HomeTeam')['AwayWin'].transform(
        lambda x: x.shift(1).cumsum() / x.shift(1).expanding().count().replace(0, pd.NA)
    )

    season_df['away.total.win.whenAway'] = season_df.groupby('AwayTeam')['AwayWin'].transform(
        lambda x: x.shift(1).cumsum() / x.shift(1).expanding().count().replace(0, pd.NA)
    )

    season_df['away.total.draw.whenAway'] = season_df.groupby('AwayTeam')['Draw'].transform(
        lambda x: x.shift(1).cumsum() / x.shift(1).expanding().count().replace(0, pd.NA)
    )

    season_df['away.total.loss.whenAway'] = season_df.groupby('AwayTeam')['HomeWin'].transform(
        lambda x: x.shift(1).cumsum() / x.shift(1).expanding().count().replace(0, pd.NA)
    )

    # Adding a column to indicate the season
    season_df['season'] = season_name

    return season_df

In [27]:
season14_df = process_season_data(season14, 'season14')

In [28]:
season14_df

,Date,HomeTeam,AwayTeam,FTR,AwayWin,Draw,HomeWin,home.matchNumber,home.daysSince,home.total.win,...,away.last3.fouls_other_team,away.last3.yellows,away.last3.reds,home.total.win.whenHome,home.total.draw.whenHome,home.total.loss.whenHome,away.total.win.whenAway,away.total.draw.whenAway,away.total.loss.whenAway,season
0,2014-08-08,Blackburn,Cardiff,D,False,True,False,1,NaT,<NA>,...,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,season14
1,2014-08-09,Brentford,Charlton,D,False,True,False,1,NaT,<NA>,...,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,season14
2,2014-08-09,Brighton,Sheffield Weds,A,True,False,False,1,NaT,<NA>,...,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,season14
3,2014-08-09,Derby,Rotherham,H,False,False,True,1,NaT,<NA>,...,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,season14
4,2014-08-09,Huddersfield,Bournemouth,A,True,False,False,1,NaT,<NA>,...,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,season14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,2015-05-02,Middlesbrough,Brighton,D,False,True,False,46,7 days,0.555556,...,11.000000,3.333333,0.0,0.681818,0.181818,0.136364,0.181818,0.363636,0.454545,season14
548,2015-05-02,Norwich,Fulham,H,False,False,True,46,7 days,0.533333,...,10.000000,2.333333,0.0,0.5,0.272727,0.227273,0.227273,0.227273,0.545455,season14
549,2015-05-02,Nott'm Forest,Cardiff,A,True,False,False,46,7 days,0.333333,...,14.666667,2.000000,0.0,0.409091,0.227273,0.363636,0.227273,0.409091,0.363636,season14
550,2015-05-02,Watford,Sheffield Weds,D,False,True,False,46,7 days,0.6,...,14.000000,2.000000,0.0,0.636364,0.136364,0.227273,0.409091,0.272727,0.318182,season14
551,2015-05-02,Wolves,Millwall,H,False,False,True,46,7 days,0.466667,...,9.666667,1.333333,0.0,0.545455,0.272727,0.181818,0.181818,0.318182,0.5,season14